

#header {
	background-color: rgb(100,100,100);
}

#login{
	padding: 20px;
}

#bandeau{
	background-image: url("image trop belle de ouf qui tue.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
}

#signup{
	margin-top: 100px;
}

.feature{
	/*margin: 2px;*/
	background-color: rgb(200,200,200);
}

#footer{
	background-color: rgb(100,100,100);
}

#footer a{
	color: rgb(220,220,220);
}

#footer a:hover{
	color : white;
	width: 50px;
}


#nom {
	color: #E6E6EA;
	font-family: 'Lora', serif;
	h2 { 
	font-size:  80px;
		}
}

#nom:hover{
	color: white;
}

#logo {
	width: 50px;
	margin-top: 15px;
	margin-left: 20px;
}